<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
        <img src="static/tierra.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        2141 INVERSIONES SAS
        </a>

        <!-- Botón responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">

            <!-- Menú -->
            <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="/contacto">Contáctenos</a>
                </li>
            </ul>

            <!-- Botones -->
                <div class="d-flex align-items-center">
                    <a href="/login" class="btn-outline-custom me-3">
                 Ingreso
                     </a>
                    <a href="/registro" class="btn-primary-custom">
                 Empieza gratis
                     </a>
               </div>

        </div>
    </div>
</nav>
